In [1]:
import pandas as pd

In [38]:
df=pd.read_csv(r"C:\Users\Nethra\Documents\sales data-set.csv")

In [39]:
df.count()

Store           421570
Dept            421570
Date            421570
Weekly_Sales    421569
IsHoliday       421570
dtype: int64

In [7]:
df.shape

(421570, 5)

In [8]:
df.index

RangeIndex(start=0, stop=421570, step=1)

In [9]:
df.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')

In [11]:
df.dtypes

Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

In [12]:
df.head

<bound method NDFrame.head of         Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[421570 rows x 5 columns]>

In [15]:
df.head(7)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  05/02/2010      24924.50      False
1      1     1  12/02/2010      46039.49       True
2      1     1  19/02/2010      41595.55      False
3      1     1  26/02/2010      19403.54      False
4      1     1  05/03/2010      21827.90      False
5      1     1  12/03/2010      21043.39      False
6      1     1  19/03/2010      22136.64      False

In [16]:
df.tail()

        Store  Dept        Date  Weekly_Sales  IsHoliday
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

In [17]:
df.tail(3)

        Store  Dept        Date  Weekly_Sales  IsHoliday
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

In [32]:
df.tail(0)

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday]
Index: []

In [19]:
df['Dept'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 16, 17, 18,
       19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
       36, 37, 38, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 54, 55, 56,
       58, 59, 60, 67, 71, 72, 74, 77, 78, 79, 80, 81, 82, 83, 85, 87, 90,
       91, 92, 93, 94, 95, 96, 97, 98, 99, 39, 50, 43, 65], dtype=int64)

In [25]:
df['IsHoliday'].unique()

array([False,  True])

In [26]:
df.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [28]:
df.nunique()

Store               45
Dept                81
Date               143
Weekly_Sales    359464
IsHoliday            2
dtype: int64

In [30]:
df['Store'].nunique()

45

In [40]:
df.count()

Store           421570
Dept            421570
Date            421570
Weekly_Sales    421569
IsHoliday       421570
dtype: int64

In [42]:
df['Store'].count()

421570

In [45]:
df['IsHoliday'].value_counts()

False    391909
True      29661
Name: IsHoliday, dtype: int64

In [46]:
df['Date'].value_counts()

23/12/2011    3027
25/11/2011    3021
16/12/2011    3013
09/12/2011    3010
17/02/2012    3007
              ...
09/07/2010    2903
16/07/2010    2901
20/08/2010    2901
27/08/2010    2898
13/08/2010    2896
Name: Date, Length: 143, dtype: int64

In [47]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'