In [1]:
A=['Apple','Mango','Banana','Orange']

In [2]:
type(A)

list

In [4]:
list(enumerate(A))

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [5]:
tuple(enumerate(A))

((0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange'))

In [6]:
set(enumerate(A))

{(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')}

In [7]:
dict(enumerate(A))

{0: 'Apple', 1: 'Mango', 2: 'Banana', 3: 'Orange'}

In [8]:
A

['Apple', 'Mango', 'Banana', 'Orange']

In [9]:
L=['Apple', 'Mango', 'Banana', 'Orange']

In [10]:
type(L)

list

In [11]:
list(enumerate(L))

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [12]:
T=['Apple', 'Mango', 'Banana', 'Orange']

In [13]:
type(T)

list

In [14]:
list(enumerate(T))

[(0, 'Apple'), (1, 'Mango'), (2, 'Banana'), (3, 'Orange')]

In [17]:
s={'Apple', 'Mango', 'Banana', 'Orange'}

In [18]:
list(enumerate(s))

[(0, 'Orange'), (1, 'Apple'), (2, 'Banana'), (3, 'Mango')]

In [19]:
D={101:'Apple',202:'Mango',230:'Banana'}

In [20]:
list(enumerate(D))

[(0, 101), (1, 202), (2, 230)]

In [21]:
x='Python'

In [22]:
type(x)

str

In [25]:
list(enumerate(x))

[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [26]:
Y="Python is fun"

In [27]:
list(enumerate(Y))

[(0, 'P'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'i'),
 (8, 's'),
 (9, ' '),
 (10, 'f'),
 (11, 'u'),
 (12, 'n')]

In [31]:
list(enumerate(('India','US','Japan','Russia')))

dict(enumerate(('India','US','Japan','Russia')))

{0: 'India', 1: 'US', 2: 'Japan', 3: 'Russia'}