In [1]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [3]:
for x in [212,434,234,123,232,546]:
    print(x)

212
434
234
123
232
546

In [4]:
A=[11,12,13,14,15]
for i in A:
    print(i)

11
12
13
14
15

In [6]:
Cities=['Delhi','Noida','Gurgon','Merrut']
for city in Cities:
    print(city)

Delhi
Noida
Gurgon
Merrut

In [8]:
Countries=('India','Us','Canada','Japan')
for country in Countries:
    print(country)

India
Us
Canada
Japan

In [9]:
Countries={'India','Us','Canada','Japan'}
for country in Countries:
    print(country)

India
Canada
Us
Japan

In [10]:
D={'Ram':1,'Sham':2,'Shiva':3}
for name in D:
    print(name)

Ram
Sham
Shiva

In [11]:
S="Welcome to Data science"
for s in S:
    print(s)

W
e
l
c
o
m
e

t
o

D
a
t
a

s
c
i
e
n
c
e

In [12]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
Table=[1,2,3]
for x in Table:
    x=x*2
    print(x)

2
4
6

In [18]:
Numbers=[11,12,12,14,15,16]
for i in Numbers:
    if i%2==0:
        print(f"{i} is an even number")
    else:
        print(f"{i} is an odd number")

11 is an odd number
12 is an even number
12 is an even number
14 is an even number
15 is an odd number
16 is an even number

In [19]:
A=['I Love']
B=['Nethra','Harshini']
for i in A:
    for j in B:
        print(i,j)

I Love Nethra
I Love Harshini